.board__container {
  display: inline-flex;
  flex-direction: column;

  background-color: var(--main);
}

.row {
  display: flex;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}

.cell > button {
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background-color: white;
}
