.columns__container {
  display: flex;
  position: relative;
}

.board__container {
  display: inline-flex;
  flex-direction: column;

  background-color: var(--primary);
}

.row {
  display: flex;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}

.disc {
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background-color: white;
}

.slider-button {
  position: absolute;
  pointer-events: none;
}
